<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container-sm">
  <main role="main" class="pb-3">
    <div class="row h-50">
      <h3 class="mb-4 mt-4 text-center">{{ operacion }} Producto</h3>
      <div class="col-md-12 mb-3">
        <form
          [formGroup]="formProduct"
          (ngSubmit)="AddandUpdateProduct()"
          class="row g-3"
        >
          <div class="col-md-4 mb-2">
            <label class="control-label" for="shortName">Nombre Corto</label>
            <input
              formControlName="shortname"
              id="InputShortNameProduct"
              class="form-control mt-2"
              placeholder="Nombre Corto: "
            />
            <div>
              <span
                class="form-text m-2"
                *ngIf="
                  formProduct.get('shortname')?.hasError('required') &&
                  formProduct.get('shortname')?.touched
                "
              >
                El nombre corto es <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="Name">Nombre</label>
            <input
              formControlName="name"
              id="InputNameProduct"
              class="form-control mt-2"
              placeholder="Nombre del Producto: "
            />
            <div>
              <span
                class="form-text m-2"
                *ngIf="
                  formProduct.get('name')?.hasError('required') &&
                  formProduct.get('name')?.touched
                "
              >
                El nombre es <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="control-label"
              >Código del Producto</label
            >
            <input
              id="inputCodeProduct"
              formControlName="code"
              type="text"
              class="form-control mt-2"
              placeholder="Ingrese Codigo: "
            />
            <div>
              <span
                class="form-text m-2"
                *ngIf="
                  formProduct.get('code')?.hasError('required') &&
                  formProduct.get('code')?.touched
                "
              >
                El campo Código es <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <label class="control-label" for="inputBuyPriceProduct"
              >Precio de Compra</label
            >
            <input
              id="inputBuyPriceProduct"
              formControlName="buyprice"
              type="number"
              class="form-control mt-2"
              placeholder="Ingrese Precio de Compra: "
            />
            <div>
              <span
                class="form-text m-2"
                *ngIf="
                  formProduct.get('buyprice')?.hasError('required') &&
                  formProduct.get('buyprice')?.touched
                "
              >
                El campo Precio de Compra es <strong>requerido</strong>
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <label class="control-label" for="inputSellPrice"
              >Precio de Venta</label
            >
            <input
              id="inputSellPrice"
              formControlName="sellprice"
              type="number"
              class="form-control mt-2"
              placeholder="Ingrese Precio de Venta: "
            />
            <div>
              <span
                class="form-text m-2"
                *ngIf="
                  formProduct.get('sellprice')?.hasError('required') &&
                  formProduct.get('sellprice')?.touched
                "
              >
                El campo Precio de venta es <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <label class="control-label" for="inputMarginProduct"
              >Ganancia</label
            >
            <input
              id="inputMarginProduct"
              formControlName="margin"
              type="number"
              class="form-control mt-2"
              placeholder="Ingrese Ganancia: "
            />
            <div>
              <span
                class="form-text m-2"
                *ngIf="
                  formProduct.get('margin')?.hasError('required') &&
                  formProduct.get('margin')?.touched
                "
              >
                El campo ganancia es <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="col-8 mb-2">
            <label class="control-label" for="inputDescriptionProductlabel"
              >Descripcion del Producto</label
            >
            <textarea
              formControlName="description"
              id="descriptionProduct"
              class="form-control mt-2"
              placeholder="Ingrese la Descripción del Producto: "
            ></textarea>
            <div>
              <span
                class="form-text m-2"
                *ngIf="
                  formProduct.get('description')?.hasError('required') &&
                  formProduct.get('description')?.touched
                "
              >
                La Descripción es <strong>requerida</strong>
              </span>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <label class="control-label mb-4" for="inputIsSubtypeProduct"
              >¿Es subtipo?</label
            >
            <div class="mb-2">
              <input
                class="form-check-input me-2"
                type="radio"
                name="isSubtype"
                id="isSubtypeFalse"
                checked
              />
              <label class="form-check-label me-4" for="isSubtypeTrue">
                No
              </label>

              <input
                class="form-check-input me-2"
                type="radio"
                name="isSubtype"
                id="isSubtypeTrue"
                formControlName="isSubtype"
              />
              <label class="form-check-label" for="isSubtypeTrue"> Si </label>
            </div>
          </div>
          <div class="row mt-2">
            <h3 class="mb-4 mt-4 text-center"> Sub-Producto</h3>
            <div class="col-md-4">
              <label class="control-label" for="Name"
                >Nombre del SubProducto</label
              >
              <input
                formControlName="name"
                id="InputNamesSubProduct"
                class="form-control mt-2"
                placeholder="Nombre del SubProducto: "
              />
              <div>
                <span
                  class="form-text m-2"
                  *ngIf="
                    formProduct.get('name')?.hasError('required') &&
                    formProduct.get('name')?.touched
                  "
                >
                  El nombre del subproducto es <strong>requerido</strong>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label class="control-label" for="inputSellPrice"
                >Precio de Venta</label
              >
              <input
                id="inputSellPrice"
                formControlName="sellprice"
                type="number"
                class="form-control mt-2"
                placeholder="Ingrese Precio de Venta: "
              />
              <div mb-3>
                <span
                  class="form-text m-2"
                  *ngIf="
                    formProduct.get('sellprice')?.hasError('required') &&
                    formProduct.get('sellprice')?.touched
                  "
                >
                  El campo Precio de venta es <strong>requerido</strong>
                </span>
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <label class="control-label" for="inputMarginProduct"
                >Ganancia</label
              >
              <input
                id="inputMarginProduct"
                formControlName="margin"
                type="number"
                class="form-control mt-2"
                placeholder="Ingrese Ganancia: "
              />
              <div>
                <span
                  class="form-text m-2"
                  *ngIf="
                    formProduct.get('margin')?.hasError('required') &&
                    formProduct.get('margin')?.touched
                  "
                >
                  El campo ganancia es <strong>requerido</strong>
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-4 text-center">
            <div class="col-lg-6">
              <button
                [disabled]="formProduct.invalid"
                type="submit"
                class="btn btn-success w-25"
              >
                Aceptar
              </button>
            </div>
            <div class="col-lg-6">
              <button
                type="button"
                class="btn btn-secondary w-25"
                routerLink="/admin/products"
              >
                Volver
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
