<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading titleProduct mb-4">
        <h3>Productos</h3>
        <button
          type="button"
          class="btn btn-outline-success"
          routerLink="/admin/addProduct"
        >
          Agregar Producto
        </button>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Apodo</th>
              <th>Descripción</th>
              <th>Código</th>
              <th>Compra</th>
              <th>Venta</th>
              <th>ganancia</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listProducts" data-toggle="collapse" data-target="#demo1" class="accordion-toggle" (click)="ExpandArea(item.productid!)">
              <td>
                <button class="btn btn-default btn-xs">
                  <span class="material-icons">visibility</span>
                </button>
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.shortname }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.code }}</td>
              <td>{{ item.buyprice }}</td>
              <td>{{ item.sellprice }}</td>
              <td>{{ item.margin }}</td>
              <td>
                <button [routerLink]="['/admin/editProduct', item.productid]" type="button"
                  class="material-icons editIconProducts">edit</button>
                <button (click)="DeleteProduct(item.productid!)" type="button"
                  class="material-icons deleteIconProduct">delete</button>
              </td>
            </tr>
            <tr>
              <td colspan="12" class="hiddenRow">
                <div class="accordian-body collapse" id="demo1">
                  <table class="table table-striped">
                    <thead>
                      <tr class="info">
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Code</th>
                        <th>Precio compra</th>
                        <th>Precio venta</th>
                        <th>Ganancia</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-toggle="collapse" class="accordion-toggle-collapsed" data-target="#demo10">
                        <td>polietileno azul</td>
                        <td>material plastico de color azul</td>
                        <td>0010</td>
                        <td>1000</td>
                        <td>2000</td>
                        <td>1000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
