.titleProduct{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.deleteIcon{
  font-size: 30px;
  cursor: pointer;
  color: #ce4b4b;
  border-radius: 6px;
  border: none;
  hover{
    font-size: 35px;
    color: black;

  }
}


.editIcon{
  font-size: 30px;
  cursor: pointer;
  color: #0dcaf0;
  border: none;

}
