.titleProduct {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.deleteIconProduct {
  color: #dc3545;
  border-color: #dc3545;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
  background-color: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: #e9ecef;
  border-right-color: #e9ecef;
}
.deleteIconProduct:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right-color: none;
  border-left-color: none;
}

.editIconProducts {
  color: #ffc107;
  border-color: #ffc107;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
  background-color: none;

}
.editIconProducts:hover {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;

}
.addSubproducts {
  color: #332dac;
  border-color: #332dac;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
  background-color: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: #e9ecef;
}
.addSubproducts:hover {
  color: #fff;
  background-color: #332dac;
  border-color: #332dac;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right-color: none;
}
