<!-- <app-loader *ngIf="loader"></app-loader> -->
<div class="mx-auto w-75 mt-5">
  <div class="ComponentTittle">
    <h3 class="me-auto">Tipo de cargamentos</h3>
    <button type="button" class="btn btn-outline-success" routerLink="/config/addshipmenttype">
      Agregar cargamento
    </button>
  </div>
  <div class="row">
    <table class="border table table-condensed table-striped">
      <thead>
        <tr>
          <th class="col-3">Nombre</th>
          <th class="col-7">Descripción</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of ShipmentTypeList">
          <td>{{i.name}}</td>
          <td>{{i.description}}</td>
          <td class="col-2 text-center btn-group">
            <button routerLink="/config/editshipmenttype/{{i.shipmenttypeid}}" type="button w-100" class="btn btn-outline-warning">
              <i class="bi bi-pencil fs-6"></i>
            </button>
            <button type="button w-100" class="btn btn-outline-danger" (click)="Delete(i.shipmenttypeid!)">
              <i class="bi bi-trash fs-6"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>