<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="">
  <div class="row-cols-1">
    <h3 class="mb-4 text-center">{{ operation }} Producto</h3>
  </div>
  <div class="row-cols-1 w-75 mx-auto">
    <form [formGroup]="formProduct">
      <div class="row">
        <div class="col-4 mb-2">
          <label class="control-label" for="shortName">Nombre Corto</label>
          <input formControlName="shortname" id="shortName" class="form-control mt-2" placeholder="Nombre Corto: " />
          <div>
            <span class="form-text m-2 text-danger" *ngIf="
                formProduct.get('shortname')?.hasError('required') &&
                formProduct.get('shortname')?.touched
              ">
              El nombre corto es <strong>requerido</strong>
            </span>
          </div>
        </div>
        <div class="col-5">
          <label class="control-label" for="Name">Nombre</label>
          <input formControlName="name" id="Name" class="form-control mt-2" placeholder="Nombre del Producto: " />
          <div>
            <span class="form-text m-2 text-danger" *ngIf="
                formProduct.get('name')?.hasError('required') &&
                formProduct.get('name')?.touched
              ">
              El nombre es <strong>requerido</strong>
            </span>
          </div>
        </div>
        <div class="col-3">
          <label class="control-label" for="code">Código</label>
          <input id="code" formControlName="code" type="text" class="form-control mt-2"
            placeholder="Ingrese Codigo: " />
          <div>
            <span class="form-text m-2 text-danger" *ngIf="
                formProduct.get('code')?.hasError('required') &&
                formProduct.get('code')?.touched
              ">
              El campo Código es <strong>requerido</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2">
          <label class="control-label" for="inputDescriptionProductlabel">Descripcion del Producto</label>
          <textarea formControlName="description" id="inputDescriptionProductlabel" class="form-control mt-2"
            placeholder="Ingrese la Descripción del Producto: "></textarea>
          <div>
            <span class="form-text m-2 text-danger" *ngIf="
                formProduct.get('description')?.hasError('required') &&
                formProduct.get('description')?.touched
              ">
              La Descripción es <strong>requerida</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5 mb-2">
          <label class="control-label" for="inputBuyPriceProduct">Precio de Compra</label>
          <input id="inputBuyPriceProduct" formControlName="buyprice" type="number" class="form-control mt-2"
            placeholder="Ingrese Precio de Compra: " />
          <div>
            <span class="form-text m-2 text-danger" *ngIf="
                formProduct.get('buyprice')?.hasError('required') &&
                formProduct.get('buyprice')?.touched
              ">
              El campo Precio de Compra es <strong>requerido</strong>
            </span>
          </div>
        </div>
        <div class="col-5">
          <label class="control-label" for="inputSellPrice">Precio de Venta</label>
          <input id="inputSellPrice" formControlName="sellprice" type="number" class="form-control mt-2"
            placeholder="Ingrese Precio de Venta: " />
          <div>
            <span class="form-text m-2 text-danger" *ngIf="
                formProduct.get('sellprice')?.hasError('required') &&
                formProduct.get('sellprice')?.touched
              ">
              El campo Precio de venta es <strong>requerido</strong>
            </span>
          </div>
        </div>
        <div class="col-2 mb-2">
          <label class="control-label mb-4" for="inputIsSubtypeProduct">¿Tiene subtipos?</label>
          <div class="mb-2">
            <input class="form-check-input me-2" type="radio" id="isSubtypeFalse" [value]="false" name="issubtype"
              formControlName="issubtype" />
            <label class="form-check-label me-4" for="isSubtypeFalse">
              No
            </label>
            <input class="form-check-input me-2" type="radio" id="isSubtypeTrue" [value]="true" name="issubtype"
              formControlName="issubtype" />
            <label class="form-check-label" for="isSubtypeTrue"> Si </label>
          </div>
        </div>
      </div>
      <div class="row-cols-1" id="subtipos" *ngIf="formProduct.get('issubtype')?.value">
        <div class="row-cols-1 mb-4">
          <h3 class="mb-2 text-center">Sub-Producto</h3>
        </div>
        <div class="row-cols-1 mt-2">
          <form [formGroup]="formSubproduct">
            <div class="row d-flex align-items-end">
              <div class="col-5">
                <label class="control-label" for="InputNamesSubProduct">Nombre del SubProducto</label>
                <div class="input-group  mt-2">
                  <span class="input-group-text" id="basic-addon1">{{formProduct.get('shortname')?.value}} - </span>
                  <input formControlName="nameSubproduct" id="InputNamesSubProduct" class="form-control"
                    placeholder="Nombre del SubProducto: ">
                  <button class="btn btn-outline-secondary border">

                    <i class="bi bi-search"></i>
                  </button>

                </div>
                <div>
                  <span class="form-text m-2 text-danger" *ngIf="
                      formSubproduct.get('nameSubproduct')?.hasError('required') &&
                      formSubproduct.get('nameSubproduct')?.touched
                    ">
                    El nombre del subproducto es <strong>requerido</strong>
                  </span>
                </div>
              </div>
              <div class="col-5">
                <label class="control-label" for="inputSellPrice">Precio de Venta</label>
                <input id="inputSellPrice" formControlName="sellpriceSubproduct" type="number" class="form-control mt-2"
                  placeholder="Ingrese Precio de Venta: " />
                <div>
                  <span class="form-text m-2 text-danger" *ngIf="
                      formSubproduct.get('sellpriceSubproduct')?.hasError('required') &&
                      formSubproduct.get('sellpriceSubproduct')?.touched
                    ">
                    El campo Precio de venta es <strong>requerido</strong>
                  </span>
                </div>
              </div>
              <div class="col-2">
                <button [disabled]="formSubproduct.invalid" type="button" (click)="AddSubproduct()"
                  class="btn btn-success">
                  Agregar
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="row-cols-1 mt-4 w-75">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Precio Venta</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subproduct of listSubproduct; index as i">
                <td>{{ subproduct.shortname }}</td>
                <td>{{subproduct.sellprice}}</td>
                <td>
                  <button *ngIf="subproduct.productid == null" (click)="DeleteSubproduct(i)" class="btn btn-outline-danger">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row-col-1 mt-2 offset-4">
        <button [disabled]="formProduct.invalid" type="button" (click)="AddandUpdate()" class="btn btn-success w-25">
          Guardar
        </button>
        <button type="button" class="btn btn-secondary w-25 m-4" routerLink="/config/products">
          Volver
        </button>
      </div>
    </form>
  </div>
</div>