<div class="container pt-4 pb-4 w-50">
    <form class="row g-3" [formGroup]="formcontroltype" (ngSubmit)="CreateOrEdit()">
        <div class="row pt-2 pb-5">
            <div class="col text-center">
                <h3>{{AddEdit}} tipo de control de peso</h3>
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="row-col d-flex">
                <h5 class="col-7">Tipo de control de peso</h5>
                <h5 class="col-5 text-center">Activo</h5>
            </div>
            <div class="row-col d-flex">
                <input formControlName="name" class="form-control form-control-lg" type="text" name="">
                <div class="radio-group mt-3 ms-1 col-5  text-center">
                    <input type="radio" id="isactiveYes" formControlName="isactive" name="isactive" [value]="true">
                    <label for="isactiveYes">Sí</label>

                    <input class="ms-4" type="radio" id="isactiveNo" formControlName="isactive" name="isactive"
                        [value]="false">
                    <label for="isactiveNo">No</label>
                </div>
            </div>
            <div>
                <span *ngIf="
                formcontroltype.get('name')?.hasError('required') && 
                formcontroltype.get('name')?.touched" class="form-text m-2 text-danger"> El nombre es<strong>
                requerido </strong> </span>
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="row-col">
                <h5>Descripcion</h5>
            </div>
            <div class="row-col">
                <textarea formControlName="description" class="form-control form-control-lg w-100"></textarea>
            </div>
        </div>

        <div class="row pt-2 pb-2">
            <div class="text-center mt-5">
                <button [disabled]="formcontroltype.invalid" type="submit" class="btn btn-success w-25">Guardar</button>
                <button class="btn btn-secondary w-25 ms-2" type="button" routerLink="/WeightControlTypeComponent">Cancelar</button>
            </div>
        </div>
    </form>
</div>