<div class="mx-auto w-75">
    <h3 class="text-center">Listado de recibos de pago</h3>
    <div class="mt-4">
        <div>
            <table class="table table-condensed table-striped align-middle">
                <thead>
                    <tr>
                        <th>Id recivo</th>
                        <th>Empleado</th>
                        <th>Fecha</th>
                        <th>Total de peso</th>
                        <th>Total pagado</th>
                        <th>
                            <div class="ms-4 ps-2">Acciones</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of BillsList">
                        <td>{{i.paymentid}}</td>
                        <td>{{i.employeeName}}</td>
                        <td>{{i.date | date: 'MM/dd/yyyy' }}</td>
                        <td>{{i.totalweight}} kg</td>
                        <td>{{i.totalprice | currency:'USD':'symbol':'1.0-0'}}</td>
                        <td>
                            <div class="btn-group">
                                <button routerLink="/admin/PaymentReceiptComponent/{{i.paymentid}}" type="button" class="btn btn-outline-warning">
                                    <i class="bi bi-currency-dollar"></i>
                                </button>
                                <button type="button" routerLink="/admin/PaymentReceiptComponent/{{i.paymentid}}" class="btn btn-outline-primary">
                                    <i class="bi bi-eye"></i>
                                </button>
                                <button type="button" class="btn btn-outline-success">
                                    <i class="bi bi-printer"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- <a routerLinkActive="router-link-active"
style="text-decoration: none; color: black;"></a> -->