<div class="w-75 mx-auto">
    <div class="row-md-12 p-1">
        <div class="panel panel-default">
            <div class="panel-heading ComponentTittle">
                <h3>Empleados</h3>
                <button type="button" class="btn btn-outline-success" routerLink="/config/addEmployee">
                    Agregar empleado
                </button>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>                       
                            <th>Rol</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Usuario</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr *ngFor="let i of employeeList" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                            <td>{{i.Role}}</td>
                            <td>{{i.Name}}</td>
                            <td>{{i.LastName}}</td>
                            <td>{{i.UserName}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-warning" routerLink="/config/editEmployee/{{i.Id}}" title="Editar empleado">
                                        <i class="bi bi-pencil"></i>
                                    </button>

                                    <button type="button" class="btn btn-outline-danger" (click)="Delete(i.Id)" title="Eliminar empleado">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>