<div class="w-75 mx-auto">
    <div class="text-center">
        <h3>{{id == 1 ? 'Cuentas por pagar':'Cuentas por cobrar'}}</h3>
    </div>

    <div class="mt-4">
        <table class="table table-condensed table-striped align-middle">
            <thead>
                <tr>
                    <th>Id recivo</th>
                    <th>Tipo</th>
                    <th>{{id == 1 ? 'Proveedor':'Cliente'}}</th>
                    <th>Empleado</th>
                    <th>Fecha</th>
                    <th>Total pagado</th>
                    <th>
                        <div class="ms-4 ps-2">Acciones</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of ReceivableList">
                    <td>{{i.shipmentid}}</td>
                    <td>{{i.shipmenttypename}}</td>
                    <td>{{i.customername}}</td>
                    <td>{{i.employeename}}</td>
                    <td>{{i.date | date: 'MM/dd/yyyy' }}</td>
                    <td>{{i.totalprice | currency:'USD':'symbol':'1.0-0'}}</td>
                    <td>
                        <div class="btn-group">
                            <button routerLink="/admin/ShipmentPayableReceiptComponent/{{i.shipmentid}}"  type="button" class="btn btn-outline-warning">
                                <i class="bi bi-currency-dollar"></i>
                            </button>
                            <button  routerLink="/admin/ShipmentPayableReceiptComponent/{{i.shipmentid}}"  type="button" class="btn btn-outline-primary">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button type="button" class="btn btn-outline-success">
                                <i class="bi bi-printer"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


