<div class="container-sm">
    <main class="pb-3">
        <div class="row h-50 ">
            <h3 class="mb-4 mt-4 text-center">{{isCreate}} empleado</h3>
            <div class="col-md-12 mb-3 offset-2 w-75">
                <form [formGroup]="formEmployee" class="row">
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="name" class="control-label">Nombre</label>
                            <input type="text" class="form-control mt-2" placeholder="Nombre" id="name"
                                formControlName="name">
                            <div>
                                <span *ngIf="
                                    formEmployee.get('name')?.hasError('required') && 
                                    formEmployee.get('name')?.touched" class="form-text m-2 text-danger"> El nombre
                                    es<strong>
                                        requerido </strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="lastName" class="control-label">Apellido</label>
                            <input type="text" class="form-control mt-2" placeholder="Apellido" id="lastName"
                                formControlName="lastName">
                            <div>
                                <span *ngIf="
                                    formEmployee.get('lastName')?.hasError('required') && 
                                    formEmployee.get('lastName')?.touched" class="form-text m-2 text-danger"> El
                                    apellido
                                    es<strong> requerido </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="documentNumber" class="control-label">Documento</label>
                            <input type="number" formControlName="documentNumber" class="form-control mt-2"
                                name="documentNumber" placeholder="Numero de documento" id="documentNumber">
                            <div>
                                <span *ngIf="
                                    formEmployee.get('documentNumber')?.hasError('required') && 
                                    formEmployee.get('documentNumber')?.touched" class="form-text m-2 text-danger"> El
                                    numero de documento es<strong> requerido </strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="dateOfBirth">Fecha de nacimiento</label><br>
                            <input formControlName="dateOfBirth" class="mt-2 w-100" type="date" name="dateOfBirth"
                                id="dateOfBirth">
                            <div>
                                <span *ngIf="
                                    formEmployee.get('dateOfBirth')?.hasError('required') && 
                                    formEmployee.get('dateOfBirth')?.touched" class="form-text m-2 text-danger">La
                                    fecha de nacimiento es<strong> requerida</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6 mb-3">
                            <label for="dateOfJoin">Fecha de inicio</label><br>
                            <input formControlName="dateOfJoin" class="mt-1 w-100" type="date" name="dateOfJoin"
                                id="dateOfJoin">
                            <div>
                                <span *ngIf="
                                    formEmployee.get('dateOfJoin')?.hasError('required') && 
                                    formEmployee.get('dateOfJoin')?.touched" class="form-text m-2 text-danger"> La
                                    fecha de ingreso a la empresa es<strong> requerida </strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="createdBy">Creado por</label><br>
                            <input formControlName="createdBy" class="mt-1 form-control"
                                placeholder="Nombre de quien registra" type="text" name="createdBy" id="dateOfBirth">
                            <div>
                                <span *ngIf="
                                    formEmployee.get('createdBy')?.hasError('required') && 
                                    formEmployee.get('createdBy')?.touched" class="form-text m-2 text-danger"> El
                                    nombre de quien esta registrando es<strong> requerido </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6 mb-3">
                            <label for="userName" class="control-label">Nombre de usuario</label>
                            <input type="text" class="form-control mt-2" placeholder="Nombre de usuario" id="userName"
                                formControlName="userName">
                            <div>
                                <span *ngIf="
                                    formEmployee.get('userName')?.hasError('required') && 
                                    formEmployee.get('userName')?.touched" class="form-text m-2 text-danger"> El nombre
                                    del nuevo ususario
                                    es<strong> requerido </strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="role" class="control-label">Roles</label>
                            <select name="role" formControlName="role" class="form-select mt-2" id="role">
                                <option value="" disabled selected>Seleccione un rol</option>
                                <option *ngFor="let i of roleList" value="{{i.Id}}">{{i.Name}}</option>
                            </select>
                            <div>
                                <span *ngIf="
                                    formEmployee.get('role')?.hasError('required') && 
                                    formEmployee.get('role')?.touched" class="form-text m-2 text-danger"> Seleccionar
                                    un rol
                                    es<strong> requerido </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="password" class="control-label">Contraseña</label>
                            <input type="text" class="form-control mt-2" placeholder="Contraseña" id="password"
                                formControlName="password">
                            <div>
                                <span *ngIf="
                                    formEmployee.get('password')?.hasError('required') && 
                                    formEmployee.get('password')?.touched" class="form-text m-2 text-danger"> La
                                    contraeña es<strong> requerida </strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="repPassword" class="control-label">Repetir contraseña</label>
                            <input type="text" class="form-control mt-2" placeholder="Repita la contraseña"
                                id="repPassword" formControlName="repPassword">
                            <div>
                                <span *ngIf="
                                    formEmployee.get('repPassword')?.hasError('required') && 
                                    formEmployee.get('repPassword')?.touched" class="form-text m-2 text-danger"> Repetir la contraseña es<strong> requerido </strong>
                                </span>
                            </div>
                            <div>
                                <span *ngIf="
                                    formEmployee.get('repPassword')?.value !== formEmployee.get('password')?.value"
                                    class="form-text m-2 text-danger">
                                    <strong>Las contraseñas no son iguales</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <button [disabled]="formEmployee.invalid || formEmployee.hasError('passwordsMismatch')"
                            type="submit" class="btn btn-success w-25" (click)="CreateOrEdit()">Aceptar</button>
                        <button class="btn btn-secondary w-25 ms-2" type="button"
                            routerLink="/config/employee">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>