<div class="d-flex sidebar flex-column align-items-center align-items-sm-start  pt-2 text-white min-vh-100 pb-5">
    <a href="/" class="d-flex  align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Reciplastk</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto" id="menu2">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <i class="fs-4 bi-house"></i>
                <span class="d-none d-sm-inline ms-2">Home</span>

            </a>
        </li>

        <li>
            <a href="#WeightControlMenu" class="nav-link link-body-emphasis " data-bs-toggle="collapse">

                <i class="fs-4 bi-clipboard2-data"></i>
                <span class="d-none d-sm-inline ms-2 ">Control de pesos
                    <i class="bi bi-chevron-compact-down ms-1"></i>
                </span>
            </a>
            <ul class="collapse ms-1" id="WeightControlMenu">
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/weightcontrol/ProviderCustomerSelectionComponent">Bodega</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/weightcontrol/WeightControlComponent">Separacion</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/weightcontrol/WeightControlGrindingComponent">Molino</a>
                </li>
            </ul>

        </li>
        <li>
            <a href="#AdminMenu" class="nav-link link-body-emphasis" data-bs-toggle="collapse">
                <i class="fs-4 bi-cash-coin"></i>
                <span class="d-none d-sm-inline ms-2">Administrativo

                    <i class="bi bi-chevron-compact-down ms-1"></i>
                </span>
            </a>
            <ul class="collapse ms-1" id="AdminMenu">
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/Payments">Material a
                        pagar</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/ShowAllBills">Recibos de
                        pago</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/RemainigComponent">Material
                        restante</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#ReportsMenu" class="nav-link link-body-emphasis" data-bs-toggle="collapse">

                <i class="fs-4 bi-graph-up-arrow"></i>
                <span class="d-none d-sm-inline ms-2 ">Reportes
                    <i class="bi bi-chevron-compact-down ms-1"></i>
                </span>
            </a>
            <ul class="collapse ms-1" id="ReportsMenu">
                <li class="d-block">
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/reports/WeightControlReportsComponent">Control de peso</a>
                </li>
                <li class="d-block">
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/reports/ShimentReportsComponent">Bodega</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#ConfigMenu" class="nav-link link-body-emphasis" data-bs-toggle="collapse">
                <i class="fs-4 bi-gear"></i>
                <span class="d-none d-sm-inline ms-2">Configuraciones

                    <i class="bi bi-chevron-compact-down ms-1"></i>
                </span>
            </a>
            <ul class="collapse ms-1" id="ConfigMenu">
                <li class="w-100">
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/config/WeightControlTypeComponent">
                        <span class="d-none d-sm-inline">Tipo control de peso</span>
                    </a>
                </li>
                <li class="w-100">
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/config/shipmenttype">
                        <span class="d-none d-sm-inline">Tipo cargamento</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/config/CustomerTypeComponent">
                        <span class="d-none d-sm-inline ">Tipo de clientes</span>
                    </a>
                </li>
                <li class="w-100">
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/config/products">
                        <span class="d-none d-sm-inline">Productos</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/config/customer">
                        <span class="d-none d-sm-inline ">Clientes</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/config/roles">
                        <span class="d-none d-sm-inline ">Roles</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>