<div class="d-flex sidebar flex-column align-items-center align-items-sm-start  pt-2 text-white min-vh-100 pb-5">
    <a href="/" class="d-flex  align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Reciplastk</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto" id="menu2">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <i class="fs-4 bi-house"></i>
                <span class="d-none d-sm-inline ms-2">Home</span>

            </a>
        </li>

        <li>
            <a href="#WeightControlMenu" class="nav-link link-body-emphasis " data-bs-toggle="collapse">

                <i class="fs-4 bi-clipboard2-data"></i>
                <span class="d-none d-sm-inline ms-2 ">Control de pesos
                    <i class="bi bi-chevron-compact-down ms-1"></i>
                </span>
            </a>
            <ul class="collapse ms-1" id="WeightControlMenu">
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/ProviderCustomerSelectionComponent">Bodega</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/admin/WeightControlComponent">Separacion</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/admin/WeightControlGrindingComponent">Molino</a>
                </li>
            </ul>

        </li>
        <li>
            <a href="#AdminMenu" class="nav-link link-body-emphasis" data-bs-toggle="collapse">
                <i class="fs-4 bi-cash-coin"></i>
                <span class="d-none d-sm-inline ms-2">Administrativo

                    <i class="bi bi-chevron-compact-down ms-1"></i>
                </span>
            </a>
            <ul class="collapse ms-1" id="AdminMenu">

                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/RemainigComponent">Material
                        restante</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/ShowAllBills">Recibos de
                        pago</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#ReportsMenu" class="nav-link link-body-emphasis" data-bs-toggle="collapse">

                <i class="fs-4 bi-graph-up-arrow"></i>
                <span class="d-none d-sm-inline ms-2 ">Reportes
                    <i class="bi bi-chevron-compact-down ms-1"></i>
                </span>
            </a>
            <ul class="collapse ms-1" id="ReportsMenu">
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/Payments">Material a
                        pagar</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/RemainigComponent">Material
                        restante</a>
                </li>
                <li class="d-block">
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/admin/WeightControlReportsComponent">Control de peso</a>
                </li>
                <li class="d-block">
                    <a href="#" class="nav-link px-4 link-body-emphasis"
                        routerLink="/admin/ShimentReportsComponent">Bodega</a>
                </li>

            </ul>
        </li>
        <li> 
            <a href="#ConfigMenu" class="nav-link link-body-emphasis" data-bs-toggle="collapse">
                <i class="fs-4 bi-gear"></i>
                <span class="d-none d-sm-inline ms-2">Configuraciones

                    <i class="bi bi-chevron-compact-down ms-1"></i>
                </span>
            </a>
            <ul class="collapse ms-1" id="ConfigMenu">
                <li class="w-100">
                    <a href="#" class="nav-link px-4 link-body-emphasis"   routerLink="/admin/WeightControlTypeComponent">
                        <span class="d-none d-sm-inline">Tipo control de peso</span>
                    </a>
                </li>
                <li class="w-100">
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/shipmenttype">
                        <span class="d-none d-sm-inline">Tipo cargamento</span>
                    </a>
                </li>
                <li class="w-100">
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/products">
                        <span class="d-none d-sm-inline">Productos</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/customer">
                        <span class="d-none d-sm-inline ">Clientes</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4 link-body-emphasis" routerLink="/admin/roles">
                        <span class="d-none d-sm-inline ">Roles</span>
                    </a>
                </li>
            </ul>
        </li>


        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Administrativo
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" routerLink="/admin/WeightControlReportsComponent">Reporte de
                        control de peso</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/admin/ShimentReportsComponent">Reporte de
                        envios</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/admin/RemainigComponent">Material restante</a>
                </li>
           
             
            </ul>
        </li> -->
    </ul>
</div>


<!-- <nav class="navbar navbar-expand-lg navbar-light px-5 appnavbar">
    <div class="container-fluid mx-5">
        <a class="navbar-brand text-primary font-weight-bold mr-5" routerLink="/welcome">My super app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Control de peso
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Configuraciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/login">Employee</a></li>
                        <li><a class="dropdown-item" routerLink="/login">Roles</a></li>
                        <li>
                            <a class="dropdown-item" routerLink="/admin/products">Products</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/admin/customer">Customer</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/admin/WeightControlTypeComponent">Tipo control de
                                peso</a>
                        </li>


                        <li class="nav-item">
                            <a class="dropdown-item" routerLink="/shipmenttype">Shipment Type</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true">Some other</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Security
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                        <li>
                            <a class="dropdown-item" routerLink="/register">Create account</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true">Log-out</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutus">About us</a>
                </li>
            </ul>
        </div>
        <div>
            <form class="d-flex btn-group">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav> -->