<div class="container w-75">
    <h2 class="text-center">Pagos pendientes</h2>
    <div class="offset-2 pt-5">
        <form [formGroup]="FormPayments">
            <div class="row pb-4">
                <div class="col-6">
                    <label for="StartDate">Fecha desde:</label><br>
                    <input formControlName="StartDate" class="mt-1 w-75" type="date" name="StartDate" id="StartDate">
                </div>
                <div class="col-6">
                    <label for="EndDate">Fecha hasta:</label><br>
                    <input formControlName="EndDate" class="mt-1 w-75" type="date" name="EndDate" id="EndDate">
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-6">
                    <label for="EmployeeId">Empleado</label><br>
                    <select formControlName="EmployeeId" class="mt-1 w-75 form-select" name="EmployeeId"
                        id="EmployeeId">
                        <option value="-1">Seleccione un empleado</option>
                        <option *ngFor="let i of EmployeeList" value="{{i.employeeid}}">{{i.name}}</option>
                    </select>
                </div>
            </div>
            <div class="offset-3">
                <input (click)="Filter()" class="btn btn-primary w-50" type="button" value="Filtrar">
            </div>
        </form>
    </div>

    <div *ngIf="isVisible" class="mt-5 text-center">
        <table class="table table-striped table-bordered table-hover w-100">
            <thead>
                <tr>
                    <th></th>
                    <th>Empleado</th>
                    <th>Producto</th>
                    <th>Peso</th>
                    <th>Fecha de inicio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of Filtered">
                    <td>
                        <input type="checkbox" [id]="i.productid" (change)="onCheckboxChange($event, i.productid)">
                        {{i.productid}}
                    </td>
                    <td>{{i.employeeName}}</td>
                    <td>{{i.productName}}</td>
                    <td>{{i.weight}}</td>
                    <td>{{i.date}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-end mb-3">
            <input (click)="PayAndSave()" class="btn btn-success w-25" type="button" value="Pagar">
        </div>
    </div>

</div>