<div class="container">
    <div class="ComponentTittle">
        <h3 class="me-auto">Tipo de clientes</h3>
        <button type="button" routerLink="/admin/AddCustomerType" class="btn btn-outline-success">
            Agregar tipo de clientes</button>
    </div>
    <div class="row">
        <table class="border table table-condensed table-striped">
            <thead>
                <tr>
                    <th class="col-3">Nombre</th>
                    <th class="col-7">Descripción</th>
                    <th class="col-auto">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of customertypelist">
                    <td>{{i.name}}</td>
                    <td>{{i.description}}</td>
                    <td class="col-auto text-center btn-group">
                        <button routerLink="/admin/EditCustomerType/{{i.customertypeid}}" type="button w-100" class="btn btn-outline-warning">
                            <i class="bi bi-pencil fs-6"></i>
                        </button>
                        <button (click)="Delete(i.customertypeid ?? -1)" type="button w-100" class="btn btn-outline-danger">
                            <i class="bi bi-trash fs-6"></i>
                        </button>  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>