<div class="mx-auto w-75">
    <div class="ComponentTittle">
        <h3 class="me-auto">Tipo de control de peso</h3>
        <button type="button" routerLink="/config/AddWeightControlTypeComponent" class="btn btn-outline-success">Agregar
            tipo
            de control de peso</button>
    </div>
    <div class="row">
        <table class="border table table-condensed table-striped">
            <thead>
                <tr>
                    <th class="col-3">Nombre</th>
                    <th class="col-7">Descripción</th>
                    <th class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of controlTypeList">
                    <td>{{i.name}}</td>
                    <td>{{i.description}}</td>
                    <td>
                        <div class="btn-group">
                            <button routerLink="/config/EditWeightControlTypeComponent/{{i.weightcontroltypeid}}"
                                type="button w-100" class="btn btn-outline-warning">
                                <i class="bi bi-pencil fs-6"></i>
                            </button>
                            <button (click)="Delete(i.weightcontroltypeid ?? -1)" type="button w-100"
                                class="btn btn-outline-danger">
                                <i class="bi bi-trash fs-6"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>