<div class="app-container">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto px-sm-2 px-0 bg-body-tertiary fs-6 border" style="min-width: 15%;">
        <app-menu class="navBar z-1"></app-menu>

      </div>
      <div class="col pt-2 jumbotron h-100 pb-0 mb-0 min-vh-100">
        <app-secondary-menu></app-secondary-menu>
        <div class="row">

          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>