<nav class="navbar navbar-expand-lg navbar-light px-5 appnavbar">
  <div class="container-fluid mx-5">
    <a class="navbar-brand text-primary font-weight-bold mr-5" href="#">RECIPLASTK</a>
    <div class="collapse navbar-collapse mr-md-5" id="navbarProducts">
      <form class="d-flex ms-auto">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-primary me-sm-5 my-2 my-sm-0" type="submit">Search</button>
        <a class="btn  btn-outline-success " routerLink="/welcome">LogOut</a>
      </form>
    </div>
  </div>
</nav>
