
<div class="d-flex justify-content-center align-items-center pt-5">
    <div class="container">
        <div class="row rounded-3  p-4" style="width: 40%;">
            <div class="row mb-3">
                <div class="col-6">
                    <h5 class="text-dark">Tipo de despacho</h5>
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-ligth border-dark dropdown-toggle" type="button" id="Menu" data-bs-toggle="dropdown" aria-expanded="false">
                        Lista de Objetos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="Menu">
                        <li><a class="dropdown-item" href="#">Ingreso</a></li>
                        <li><a class="dropdown-item" href="#">Salida</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>Proveedor</h5>
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-ligth border-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Lista de Objetos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#"></a></li>
                        <li><a class="dropdown-item" href="#"></a></li>
                        <li><a class="dropdown-item" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>