.tittleShipment{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.editIconShipment{
    color: #ffc107;
    border-color: #ffc107;
    border-radius: 4px;
    font-size: 28px;
    cursor: pointer;
    background-color: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: none;
}
.editIconShipment:hover{
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.deleteIconShipment{
    color: #dc3545;
    border-color: #dc3545;
    border-radius: 4px;
    font-size: 28px;
    cursor: pointer;
    background-color: none;
    border-radius: 5px;
    
}
.deleteIconShipment:hover{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 5px;
}